<div class="container-fluid mt--7">
  <div class="row">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                </div>
                <input formControlName="sDate"  class="form-control datepicker"    placeholder="Select date" name="startDate" [(ngModel)]="startDate" ngbDatepicker #d1="ngbDatepicker" (click)="d1.toggle()" type="text"/>
              </div>
            </div>
          </div>
    
          <div class="col-lg-3">
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                </div>
                <input formControlName="eDate" class="form-control datepicker"   placeholder="End date" name="endDate"  [(ngModel)]="endDate"  ngbDatepicker #d2="ngbDatepicker" (click)="d2.toggle()" type="text"/>
              </div>
            </div>
          </div>
    
          <div class="col-lg-3">
            <div class="form-group">
              <!-- <mat-form-field >
                <mat-label >Select Asset</mat-label>
                <mat-select formControlName="asset" name="Asset" >
                  <mat-option>None</mat-option>
                  <mat-option  *ngFor="let asset of tableArray" [value]="asset.asset_name">
                    {{asset.asset_name}}
                  </mat-option>
                </mat-select>
              </mat-form-field> -->
              <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" formControlName="asset" name="asset_selection">
                <option selected>Select Asset</option>
                <option *ngFor="let asset of tableArray" [value]="asset.asset_name">{{asset.asset_name}}</option>
              </select>
            </div>
          </div>
    
          <div class="col-lg-3">
            <div class="form-group">
              <span>
                <button mat-raised-button>Show data</button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="row" style="padding-bottom: 10px;">
    <div class="col">
      <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="model"s>
        <label ngbButtonLabel class="btn-secondary">
          <input ngbButton type="radio" value="map"> Map 
        </label>
        <label ngbButtonLabel class="btn-secondary">
          <input ngbButton type="radio" value="table"> Data List
        </label>
      </div>
    </div>
  </div>
    
  <div class="row">
    <div class="col">
      <div class="card shadow border-0">
        <div id="mapData" style="height: 600px;"></div>
      </div>
    </div>
  </div>
    <div class="card shadow border-0" *ngIf="model == 'table'" style="margin-top: -600px; z-index: 999999;">
      <!-- <div class="card-header border-0"> -->
        <div class="card-header border-0">
          <h3 class="mb-0">Asset List</h3>
        </div>
        <div class="table-responsive"  style="height: 532px;">
          <table class="table align-items-center table-flush">
            <thead>
              <tr>
                <th scope="col" class="colum-sticky left-top">asset_name </th>
                <th scope="col" class="colum-sticky top">asset_username</th>
                <th scope="col" class="colum-sticky top">lat</th>
                <th scope="col" class="colum-sticky top">lon</th>
                <th scope="col" class="colum-sticky top">acc</th>
                <th scope="col" class="colum-sticky top">speed</th>
                <th scope="col" class="colum-sticky top">source</th>
                <th scope="col" class="colum-sticky top">alt</th>
                <th scope="col" class="colum-sticky top">source</th>
                <th scope="col" class="colum-sticky top">time</th>
              </tr>
            </thead>
            <tbody *ngFor="let asset of payload[0].data.payload" (click)="onSelect(asset)">
              <td class="colum-sticky left">
                {{asset.asset_name}}
              </td>
              <td>
                {{asset.asset_username}}
              </td>
              <td>
                {{asset.payload.lat}}
              </td>
              <td>
                {{asset.payload.lon}}
              </td>
              <td>
                {{asset.payload.acc}}
              </td>
              <td>
                {{asset.payload.speed}}
              </td>
              <td>
                {{asset.payload.source}}
              </td>
              <td>
                {{asset.payload.alt}}
              </td>
              <td>
                {{asset.payload.t}}
              </td>
          </table>
        </div>
      <!-- </div> -->
      </div>
  </div>
  
  <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p style="color: white">Please Wait. </p>
  </ngx-spinner>
  