<div class="container-fluid mt--7">
    <div class="row">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 col-sm-6">
          <div class="form-group">
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
              </div>
              <input formControlName="sDate"  class="form-control datepicker" [ngModelOptions]="{standalone: true}"   placeholder="Select date" name="startDate" [(ngModel)]="startDate" ngbDatepicker #d1="ngbDatepicker" (click)="d1.toggle()" type="text"/>
            </div>
          </div>
        </div>
  
        <div class="col-lg-3 col-sm-6">
          <div class="form-group">
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
              </div>
              <input formControlName="eDate" class="form-control datepicker" [ngModelOptions]="{standalone: true}"  placeholder="End date" name="endDate"  [(ngModel)]="endDate"  ngbDatepicker #d2="ngbDatepicker" (click)="d2.toggle()" type="text"/>
            </div>
          </div>
        </div>
  
  
        <div class="col-lg-3 col-sm-6">
          <div class="form-group"  >
            <mat-form-field >
              <mat-label >Select Asset</mat-label>
              <mat-select formControlName="asset" name="Asset" >
                <mat-option>None</mat-option>
                <mat-option  *ngFor="let asset of tableArray" [value]="asset.asset_name">
                  {{asset.asset_name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
  
        <div class="col-lg-3 col-sm-6">
          <div class="form-group">
            <span>
              <button mat-raised-button>Show data</button>
            </span>
          </div>
        </div>
      </div>
    </div>
    </form>
  </div>
    <div class="row">
      <div class="col">
        <div class="card shadow border-0">
          <div id="mapData" style="height: 600px;"></div>
        </div>
      </div>
    </div>
  </div>
  
  <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p style="color: white">Please Wait. </p>
  </ngx-spinner>
  