/* You can add global styles to this file, and also import other style files */
@import "~leaflet/dist/leaflet.css";
@import '~bootstrap/dist/css/bootstrap.min.css';  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.colum-sticky {
    background: white;
    position: sticky;
    &.top {
      top: 0;
      z-index: 1;
    }
    &.left {
      left: 0;
      z-index: 1;
    }
    &.left-top {
      left: 0;
      top: 0;
      z-index: 2;
    }
    &.right {
      right: 0;
    }
    &.bottom {
      bottom: 0;
    }
}